body {
    font-family: "Open Sans", sans-serif;
    color: #272829;
}

a {
    color: #0563bb;
    text-decoration: none;
}

a:hover {
    color: #067ded;
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Raleway", sans-serif;
}

/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
    padding: 30px 0;
    overflow: hidden;
}

.section-title {
    text-align: center;
    padding-bottom: 30px;
}

.section-title h2 {
    font-size: 32px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;
    color: #45505b;
}

.section-title h2::before {
    content: "";
    position: absolute;
    display: block;
    width: 120px;
    height: 1px;
    background: #ddd;
    bottom: 1px;
    left: calc(50% - 60px);
}

.section-title h2::after {
    content: "";
    position: absolute;
    display: block;
    width: 40px;
    height: 3px;
    background: #0563bb;
    bottom: 0;
    left: calc(50% - 20px);
}

.section-title p {
    margin-bottom: 0;
}



/*--------------------------------------------------------------
# daftarAlumi
--------------------------------------------------------------*/
.daftarAlumi .icon-box {
    text-align: center;
    /* padding: 5px 20px 50px 20px; */
    padding: 5px;
    transition: all ease-in-out 0.3s;
    background: #fff;
    box-shadow: 0px 5px 90px 0px rgba(110, 123, 131, 0.185);
    width: 500px;
}

/* .daftarAlumi .icon-box .icon {
    margin: 0 auto;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: ease-in-out 0.3s;
    position: relative;
} */

.daftarAlumi .icon-box h4 {
    font-weight: 500;
    margin: 5px 0 3px 0;
    font-size: 18px;
}

.daftarAlumi .icon-box p {
    line-height: 24px;
    font-size: 12px;
    margin-bottom: 0;
}

.daftarAlumi .icon-box:hover {
    border-color: #cdcdcd;
    box-shadow: 0px 0 35px 0 rgba(0, 0, 0, 0.109);
    border: 1px solid rgba(0, 0, 0, 0.123);
}

/* 
.daftarAlumi .icon-box .foto-profile {
    border: 1px solid red;
}

.daftarAlumi .icon-box .foto-profile img {
    width: 200px;
    background-color: rgb(187, 0, 0);
} */

.daftarAlumi .icon-box-utama {
    text-align: center;
    /* padding: 5px 20px 50px 20px; */
    transition: all ease-in-out 0.3s;
    background: #fff;
    box-shadow: 0px 5px 90px 0px rgba(110, 123, 131, 0.05);
    width: 98%;
    /* border: 1px solid rgba(0, 0, 0, 0.164); */
    margin: 0 auto;
    margin-bottom: 20px;
}

.daftarAlumi .icon-box-utama h4 {
    font-weight: 600;
    margin: 5px 0 3px 0;
    font-size: 22px;
}

.daftarAlumi .icon-box-utama p {
    line-height: 24px;
    font-size: 14px;
    margin-bottom: 0;
}


.daftarAlumi h6 {
    font-size: 23px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    padding-bottom: 20px;
    margin-bottom: 20px;
    position: relative;
    color: #45505b;
}

.daftarAlumi h6::before {
    content: "";
    position: absolute;
    display: block;
    width: 120px;
    height: 1px;
    background: #ddd;
    bottom: 1px;
    left: calc(50% - 60px);
}

.daftarAlumi h6::after {
    content: "";
    position: absolute;
    display: block;
    width: 40px;
    height: 3px;
    background: #0563bb;
    bottom: 0;
    left: calc(50% - 20px);
}